
h1,h3,h4,h5,h6,p {
    margin: 0px;
    padding: 0px;
}
.container-content h2 {
    margin-bottom: 10px;
}
.cards {
    border: 1px solid #efefef;
    border-radius: 8px;
    box-shadow: 2px;
    width: 344px;
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font: weight 400px;
}

.container-content {
    margin-left: 20px;
    margin-bottom: 20px;
    height: 200px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.container {
    padding-bottom: 8px;
    font-size: 24px;
}

.container img {
    width: 344px;
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.small {
    display: flex;
    align-content:flex-end;
    padding-bottom: 23px;
    margin-left: 20px;
    justify-content: baseline;
    font-size: 14px;
    font-weight: 300;
}

#cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

